{% extends 'mainapp/base.html' %} {% block body %} {% if request.session.user_id %}

<div class="container-fluid">
    <div class="row">
        <nav class="bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column text-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'mainapp:index' %}">
                            <h5>{{request.session.username}}</h5>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Following
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Followers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Photos
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <main role="main" class="pt-3 main-static">
            <div class="col-8 bg-light mx-2 my-2">
                <form action="{% url 'mainapp:post' %}" class="form-group my-2" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{request.session.user_id}}" name="user_wall">
                    <input type="post" class="writepost form-control" name="html_post_contents" placeholder="Share something with {{request.session.username}}..."
                        maxlength="400">
                </form>
                <hr>
            </div>

            {% for post in posts %}
            <div class="col-8 postcard">
                <div class="postauthor mb-3">{{ post.author.username }}</div>
                <p>{{ post.post_contents }}</p>
                <hr>
                <div class="row justify-content-between mx-auto">
                    <p>{{ post.created_at }}</p>
                    {% if post.author_id == request.session.user_id %}
                    <a href="{% url 'mainapp:delete_post' post_id=post.id %}" class="">Delete</a>
                    {% endif %}
                </div>
                <hr>
                <div action="#" class="form-group my-2">
                    <input type="comment" class="form-control" placeholder="Write a comment..." name="html_comment_contents">
                </div>
            </div>
            {% endfor %} 

            {% else %}
            <div class="container">

                <div class="jumbotron mt-3">
                    <div class="row justify-content-center">
                        <h1 class="display-4">Welcome to MyFace</h1>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <h1 class="display-5">Get started:</h1>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <a class="btn btn-success mr-3" href="{% url 'mainapp:register' %}">Sign Up</a> or
                        <a class="btn btn-light ml-3" href="{% url 'mainapp:login' %}">Log In</a>
                    </div>
                </div>
            </div>

            {% endif %} {% endblock %}