{% extends 'mainapp/base.html' %}

{% block body %}

<div class="jumbotron bglogin">
        <h1 class="display-4 text-center">Catch up with your community...</h1>
        <div class="container">
            <div class="col-md-6 offset-3 p-2 dancemonkey">
                <form action="{% url 'mainapp:login' %}" method="POST">
                    {% csrf_token %}
                    <div class="row p-2">
                        <div class="col">Email address</div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                            <input type="text" class="form-control" name="html_email" placeholder="Enter email">
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col">Password</div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                            <input type="text" class="form-control" name="html_password" placeholder="Password">
                        </div>
                    </div>

                    <div class="row p-2">
                        <div class="col">
                            <button class="btn btn-primary" role="submit">Login</button>
                        </div>
                    </div>
                    {% include 'mainapp/errors.html' %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
