<nav class="navbar navbar-expand navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'mainapp:index' %}">MyFace</a>

    <form action="{% url 'mainapp:search_users' %}" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="html_query" type="search" placeholder="Search" aria-label="Search">
    </form>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto mr-5">
            {% if request.session.user_id %}
            <li class="nav-item dropdown">
                <a class="btn btn-outline-light mr-2" href="{% url 'mainapp:index' %}">{{request.session.username}}</a>
                <a class="btn btn-outline-dark" href="{% url 'mainapp:logout' %}">Logout</a>

            </li>
            {% else %}
            <li class="nav-item dropdown">
                <a class="btn btn-success mr-2" href="{% url 'mainapp:register' %}">Sign Up</a>
                <a class="btn btn-light" href="{% url 'mainapp:login' %}">Log In</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>