.dancemonkey {
    background: white;
    box-shadow: 5px 5px 5px;
    opacity: 0.8;

}

.usercard {
    background-color: lightgray;
    margin: 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px;
}

.writepost {
    flex-basis:600px;
    flex-shrink: 1px;
    min-width: 200px;
    height: 150px; 
    border: 1px solid lightgray; 
    padding: 5px;
}

.postcard {
    background-color: lightgray;
    margin: 10px 10px 30px 10px;
    padding: 10px;
    box-shadow: 3px 3px 5px;
}

.postauthor {
    font-size: 0.8em;
}

.jdate {
    font-size: 0.7em;
}

.jumbotron {
    height: 75vh;
}

.navbar {
    position: -webkit-sticky;
    position: sticky;    
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 80px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar-brand {
    flex-basis:170px;
    flex-shrink: 0px;
    min-width: 170px;  
}

.sidebar {
    flex-basis:200px;
    flex-shrink: 0px;
    min-width: 200px;
} 

.main-static {
    position: -webkit-static;
    position: static;
    flex: 1;
}

.main-scroller {
    height: calc(100vh - 80px);
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}